<% unless @properties.any? || @flats.any? %>
<h3>No records found for <%= params[:search] %></h3>
<% end %>
<div class="spacer"></div>
<% if @properties.any? %>
<div class="row bg-white margin-lr-0 ">
   <div class="col-md-12 ">
      <div class=" row properties-nav nav-bg ">       
            <div class="col-md-9" >
               <h2 class="h3white centr-title">PROPERTIES</h2>  
            </div>      
            <div class="col-md-3">
                <% if can? :create, Property%>
                  <div class="pull-right new-prop ">
                     <%= link_to (new_property_path), class:"btn btn-lg new-btn border0" do %>
                         <span class="glyphicon glyphicon-plus"></span><span class="pad-r-1">Add New Property</span>
                     <% end %>
                  </div>
               <% end %>
            </div>  
      </div>
      <div id="houses" class="row overflow">
         <% @properties.each do |property| %>
            <div class="col-md-3 spacerem">
               <div class="img-responsive property-img"><span class="prop-user-avatar pull-right"> <%= image_tag property.user.avatar.small_small.url, class: "border-radius-50 thumb-border" %></span>
               <%= link_to property_path(property) do %>
               <%= image_tag property.property_image.small.url, class:"property-img" %>
               <% end %>

                  
               </div>
               <div class="property-house border-grey text-center"><h4><%= property.housename%></h4></div>
               <div class="row border-grey margin-lr-0">
                  <div class="col-md-2 padding-lr-0 ">
                     <div class=" prop-loc input-group-addon nav-bg "><span class="glyphicon glyphicon-globe"></span></div>
                  </div>
                  <div class="col-md-10 ">
                     <div class="property-address text-left pad-left-10"><h5><%= property.address %></h5></div>
                     <div class="property-postcode text-left pad-left-10 "><h5><%= property.zipcode %> <%= property.city %></h5></div>  
                  </div>  
               </div>
            </div>
         <% end %>
      </div>
   </div>
</div>
<% end %>
<div class="spacer"></div>
<% if @flats.any? %>
<div class="row bg-white margin-lr-0">
   <div class="col-md-12 col-xs-12">
      <div class=" row properties-nav nav-bg">       
            <div class="col-md-12 col-xs-12" >
               <h2 class="h3white centr-title">FLATS</h2>  
            </div>             
      </div>
      <div class="spacerem"></div>
      <div class="row">  
        
        <div class="col-md-10 pad-r-0">
          <table class = "table table-bordered table-striped">
            <thead>
              <tr>   
                 <th>House Nr.</th>  
                 <th>Flat Nr.</th>
                 <th>Name</th>
                 <th>Surname</th>
                 <th>Move in Date</th>
                 <th>Staus</th>
                

                   
              </tr>
            </thead>
            <tbody>
              <% @flats.each do |flat| %>      
                
                <tr data-link="<%= property_flat_path(flat.property_id,flat)%>">
                  <td><%= flat.housenr %></td>
                  <td><%= flat.flat_nr %></td>
                  <td><%= flat.name %></td>
                  <td><%= flat.surname %></td>
                  <td><%= flat.join_date.try(:strftime, "%d/%m/%Y") %></td>
                  <td><%= flat.status %></td>
                </tr> 
                
                <% end %>
               
              
            </tbody>  
          </table>
          </div>
          <div class="col-md-2 pad-l-0 text-center " >
          <table class = "table table-bordered table-striped">
            <thead>
              <tr>
                <th class="text-center">Edit</th>
              </tr>
            </thead>
            <tbody>
               <% @flats.each do |flat| %> 

                  <tr><td style="padding:0;">
                  <div class="row " >

                  <div class="col-md-12 flat-edit-btn padding-lr-0" >
                   <% if can? :update, flat%>
                      <%= link_to (edit_property_flat_path(flat.property_id, flat)), class: "btn nav-bg white border0 lblue-hover" do %>
                   <span class="glyphicon glyphicon-pencil"></span>
                  <% end %> 
                   
                   <% end %>
                   
                   
                  <% if can? :destroy, flat%>   
                      <%= link_to (property_flat_path(flat.property_id, flat)), method: :delete, class: "btn nav-bg white border0 lblue-hover", data: {confirm: "Are you sure?"} do %>
                      <span class="glyphicon glyphicon-trash"></span>

                      <% end %> 
                          
                  <% end %>
                  </div>
                  </div>
                  </td></tr>
                  
          <% end %>
          </div>
        
       
            </tbody>
          </table>
          </div>
          
      </div>
   </div>
</div>
 <% end %>
