

<div class="row">
  <div class="spacer"></div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'mailbox/folders' %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
    <div class="row" style="padding-top:1%">
    <div class="col-md-6">
      <h4 style="padding-left:5%"><b>Subject: </b><%= conversation.subject %></h4>
    </div>
    <div class="col-md-6 text-right">
    <div style="padding-right:5%">
      <% if conversation.is_trashed?(current_user) %>
          <%= link_to 'Restore conversation', untrash_conversation_path(conversation), class: 'btn btn-info', method: :post %>
      <% else %>
          <%= link_to 'Delete conversation', trash_conversation_path(conversation), class: 'btn btn-danger', method: :post,
                      data: {confirm: 'Are you sure?'} %>
      <% end %>
      </div>
    </div>
    </div>
      <div class="panel-body">
        <%= render partial: 'messages' %>
      </div>
      <div class="panel-footer">
        <!-- Reply Form -->
        <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
            <div class="form-group">
              <%= f.text_area :body, placeholder: "Reply Message", rows: 4, class: "form-control" %>
            </div>
            <%= f.submit "Reply", class: 'btn btn-danger pull-right' %>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

</div>