
<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>
<h1>Editing User</h1>

<%= form_for @user do |f| %>
	<div class="row">
		<div class="col-md-6 col-lg-6">
			<div><%= f.label :name %>
		        <%= f.text_field :name, autofocus: true %></div>
		    <div><%= f.label :surname %>
		        <%= f.text_field :surname, autofocus: true %></div>
		    <div><%= f.label :email %>
		        <%= f.email_field :email %></div>
		    <br/><br/>
		    <div><%= f.label :User_Role %>
		    	
			    <%= f.select :role_id  do %>
			       <% [['Registered', 1],['Admin', 2], ['Property Owner', 3],['Flat Owner', 4],['Support', 5]].each do |c| %>
			          <%= content_tag(:option, c.first, value: c.last)  %>
			       <% end %>
			    <% end %>              
		    </div>

		</div>
	    <div class="col-md-4 col-md-offset-4">
	    <%= f.submit "Save changes" %>  
		</div>
	</div>
<% end -%>

