<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>
<h1>Edit Ticket</h1>
<%= form_for @ticket do |f| %>
	<% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this flat from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  	<% end %>
	<div class="row">
		<div class="col-md-6 col-lg-6">
			<%= f.label 'Property address *'%>
			<%= f.text_field :address ,required: true%>
			<br />
			<%= f.label 'Apartment number *'%>
			<%= f.text_field :flat_nr,required: true %>
			<br />
		   	<%= f.label 'Name *' %>
		   	<%= f.text_field :name, required: true %>
		   	<br />
		   	<%= f.label :Phone %>
		   	<%= f.telephone_field :phone%>
		   	<br />
		   	<%= f.label :Email %>
		   	<%= f.email_field :email%>
		   	<br />
		   	<%= f.label 'Subject *' %>
		   	<%= f.text_field :subject, required: true %>
		   	<br />
		   	<%= f.label 'Ticket Description *' %>
		   	<%= f.text_area :content,required: true%>
		   	<br />	
		   	<%= f.label 'Ticket type *' %>
	   		<div class="radio-inline">
	   			
			   	<h5 ><%= f.collection_radio_buttons :selection, {complain: 'Complain', maintenance: 'Maintenance', other: 'Other'}, :first, :last, required: true  
			   	%>  
	    		</h5>
    		</div>
    		
    	</div>
    
	    <div class="col-md-4 col-md-offset-4">
	    	<%= f.submit "Save Changes" %>
	    </div>
	</div>
<% end %>




